@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<!-- Jumbotron -->

<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
     style=" background-image:
           url('https://thumbs.dreamstime.com/z/baby-boy-picking-apples-fruit-garden-child-farm-autumn-little-playing-apple-tree-orchard-kids-pick-basket-toddler-eating-96100171.jpg');">

    <h2 class="mb-3 h2"> Welcome to FreshGolds pallet management site</h2>
    <h3 class="mb-3 h2">Privacy policy</h3>



</div>
<hr>
<p>
    The purpose of this policy is to state why, how and when FreshGold uses personal information in order to comply with the protection of personal information Act 4 of 2013 (POPI)

    The privacy policy applies to all users of our website which is used to access and edit FreshGolds EDI files.

    The information collected by this site is with full consent of the user. We do not sell them or use them with any
    third party and safeguard this information to ensure the privacy, integrity and security of the user is protected.
</p>

<!-- Jumbotron -->
<h3>   When you register on this website the following information is collected:</h3>

<p>


    <ol>
        <li>Employee Email address</li>
        <li>Passwords</li>
        <li>Logs</li>
    </ol>
</p>



<h3 class="mb-3 h3">  Should this information change you can contact the FreshGold site admin </h3>

<h4>Why do we collect this information?</h4>
<ul>
    <li>- Verify user identity</li>
    <li>- Create user account</li>
    <li>- Identify user</li>
</ul>

<p> When you register as a FreshGold user you warrant that the information provided is accurate and does not impersonate or misrepresent any person or entity.</p>



<hr>
<!-- Jumbotron -->

<div class=" p-5 text-center shadow-1-strong rounded mb-5 text-white" style="background-image: url('https://thumbs.dreamstime.com/z/cute-baby-boy-picking-fresh-apples-tree-adorable-ripe-fruit-orchard-children-pick-fruits-apple-family-fun-harvest-60119690.jpg'); ">
    >

    <!-- Jumbotron -->
    <h2> How to Navigate the System</h2>

    What are you able to do?

</div>






   <h3 id="bottom"> Upload EDI files for storage</h3>
<p>
    <ul>
        <li> View and manage stores files on the application</li>
        <li> Export EDI Files into a excel format for editing </li>
        <li>Export edited Excel files back to EDI File text based format</li>
    </ul>
</p>


<h3> Step by step Uploading EDI File: </h3>
<p>
    <ol>
        <li>    Login or register using your employee email address to use the Application </li>
        <li>   Upload EDI files to the systems local drive and database for storage on upload page by selecting a file from your PC.</li>
        <li>   Download, delete, view Files uploaded to the local drive</li>
        <li>     Download files from system database</li>
    </ol>
</p>

<h3> Step by step Exporting File to Excel spreadsheet</h3>
<ol>

    <li> Login or register using your employee email address to use the Application.</li>
    <li> Upload EDI files to desired Location</li>
</ol>

